In [1]:
# various ways to print in python
print(2)

2

In [3]:
print("Mihir")

Mihir

In [4]:
print("jdjswn   12@#*")

jdjswn   12@#*

In [5]:
num = 10
print(num)

10

In [13]:
mihir = 100
print(mihir, "is")
type(mihir)

100 is

int

In [10]:
a = 10
b = 20
c = 30
d = 40
print(a, b, c, d)

10 20 30 40

In [12]:
num1 = '10'
print(num1, "is")
type(num1)

10 is

str

In [14]:
# print function in python
a = 20
b = 20
c = a+b
print(c)

40

In [15]:
print(20+30)

50

In [19]:
a = 10
b = 20
c = 30
d = 40
print(a, b, c, d, sep= ",")

10,20,30,40

In [18]:
# a = 10
# b = 20
# c = 30
# d = 40
print(a, b, c, d, sep= ":")

10:20:30:40

In [20]:
print(a, b, c, d, sep= "#")

10#20#30#40

In [21]:
print("The value of a :", a)

The value of a : 10

In [22]:
f_name = "Pradosh"
m_name = "Mihir"
l_name = "Dash"
print("My name is :", f_name, m_name, l_name )

My name is : Pradosh Mihir Dash

In [25]:
print("My name is {} {} {}".format(f_name, m_name, l_name) )

My name is Pradosh Mihir Dash

In [27]:
# This is the example of keyword argument in python
print("my firstname is {first} & lastname is {last}".format(first = f_name, last= l_name))

my firstname is Pradosh & lastname is Dash

In [29]:
print("my firstname is {first} & i wish u  {greet}".format(first = f_name, greet= "good morning"))

my firstname is Pradosh & i wish u  good morning

In [31]:
print("My friends are {} {} {}".format("bill", "jorge", "harry"))

My friends are bill jorge harry

In [38]:
num = 10
name = "Mihir"
print ("My number is:{one} and my name is:{two}".format(one = num, two=name))
print("My number is:{} and my name is:{}".format(num, name))
print("My number is:",num,"and", "my name is:", name)

My number is:10 and my name is:Mihir
My number is:10 and my name is:Mihir
My number is: 10 and my name is: Mihir

In [40]:
a = int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
add=a+b
sub=a-b
mult=a*b
div=a/b
mod=a%b
print("ADD:", add)
print("Sum {0}, Diff{1}, Mul{2}, Div{3}, Mod{4}".format(add, sub, mult, div, mod))

Enter the value of a:  2
Enter the value of b:  2

ADD: 4
Sum 4, Diff0, Mul4, Div1.0, Mod0

In [41]:
print("Sum {}, Diff{}, Mul{}, Div{}, Mod{}".format(add, sub, mult, div, mod))

Sum 4, Diff0, Mul4, Div1.0, Mod0

In [47]:
 #Formatting string Literals
a = "Master class"
print(f"welcome to python {a}")

welcome to python Master class

In [ ]:
nm = input("Enter a company name - ")
nm1 = input("Enter the number of emplyees - ")
print("The name of the company is and the number of emplyees are ",nm,nm1)